.logo{
    width: 145px;
    height: 30px;
    background-image: url("../assets/Word_Scramblle.svg");
    background-repeat: no-repeat;

}
.scrumble{
    width:auto;
    height:400px;
    background: rgb(3,6,22);
    background: linear-gradient(135deg, rgba(3,6,22,1) 0%, rgba(23,29,60,1) 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 0 10px;
}
.row{
    width: auto;
    height: auto;
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.row_info{
    width: 80%;
    height: auto;
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.btns{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}